<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <div id="log-div">
        <input id="btn" type="button" value="Login" onclick="location='/login'">
        <input id="btn" type="button" value="Log out" onclick="location='/login'">
        <%= users %>
      </div>
    </header>
    <h1><%= title %></h1>
    <div id="item">
      <div id="content">
        <a href="#"><img src="/images/domestos-thick-bleach-original.jpg" height="300" width="200" alt="dosmestos"></a><br><br>
        
      </div>
    </div>

    <div id="item">
      <div id="content">
        <a href="#"><img src="/images//download.jpeg" height="300" width="200" alt="dosmestos"></a><br><br>
        
      </div>
    </div>
    
    <div id="item">
      <div id="content">
        <a href="#"><img src="/images/product_small_5efb455e7fbeb.jpg" height="300" width="200" alt="dosmestos"></a><br><br>
       
      </div>
    </div>
  </body>
</html>
