<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/logout.css">
    <title>Document</title>
</head>
<body>
    <div id="main-div">
        <div id="log-div">
            <label for="Username">Username: </label>
            <input id="username" placeholder="Username"><br><br>
            <label for="password">Password: </label>
            <input id="password" type="password" placeholder="Password"><br><br>
 
            <input id="btn" value="Log out" type="button" onclick="location='/'">
        </div>
        
    </div>
</body>
</html>