html{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;

}

div{
    text-align: center;
    padding: 4%;
    
}

#btn1{
    border-radius: 9%;
    padding: 7px;
    width: 5%;
    background-color: rgb(14, 83, 233);
    color: whitesmoke;
}

input{
    border-radius: 9%;
    padding: 7px;
    width: 20%;
}

/* select{
    border-radius: 9%;
    padding: 7px;
    width: 5%;
    margin-left: -0.1%;
} */

#select-country{
    border-radius: 9%;
    padding: 7px;
    width: 20%;
    margin-left: 5%;
}

#select-day{
    border-radius: 9%;
    padding: 7px;
    width: 5%;
    margin-left: 4%;
   
}

#select-year{
    border-radius: 9%;
    padding: 7px;
    width: 5%;
    margin-left: 3%;
    
}

#select-mounth{
    border-radius: 9%;
    padding: 7px;
    width: 5%;
    
}

